.answer {
    border: 2px solid white;
    padding: 18px;
    margin: 20px 0;
    border-radius: 20px;
    cursor: pointer;
}
.answer input[type="radio"] {
    margin-right: 5px;
    width: 15px; 
    height: 15px;
    cursor: pointer;
    border-color: red;
    background-color: red;
  }
.question1 {
    margin: 0 20px;
}
.question1 h2 {
    text-align: center;
}