.question,.spin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.question {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.btn {
    background-color: rgb(255, 50, 50);
    color: white;
    border-radius: 16px;
    border: none;
    height: 40px;
    width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
}
.img_modal {
    width: 100px;
    height: 100px;
}
.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}